@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-100;
}
h1 {
  @apply text-2xl font-bold text-gray-800;
}
p {
  @apply text-gray-600;
}
a {
  @apply text-blue-600 hover:text-blue-800;
}           